body {
    background-image: url("https://images.hdqwalls.com/wallpapers/4k-spiderman-ps4-gb.jpg");
    background-size: 100% 100%;
    background-size: cover;
}
.bar-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(21, 52, 98);
}
.bar-container p {
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
}
.bar-container p a {
    text-decoration: none;
    color: white;
}
.header {
    margin-left: 20px;
}

.header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    font-size: 28px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    
}
.header nav ul li {
    margin-right: 50px;
    
}
.header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold; 
}

.imagen {
    margin-top: 20px;
    width: 15%;
    border-radius: 50%;
}
.cuerpo {
    background-color: rgb(246, 246, 201);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}

.cuerpo button {
    width: 400px;
    height: 100px;
    font-size: 28px;
    background-color: bisque;
    border-radius: 5%;
    margin: 0 20px 0 20px
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 28px;
    background-color: rgb(21, 52, 98);
    width: 80%;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.footer p {
    margin: 0px;
}